{% extends 'base.html.twig' %}

{% block title %}Nouvelle Matiere{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle matière</h1>

    {{ include('matiere/_form.html.twig') }}

    <a href="{{ path('matiere_index') }}">Retour à la liste</a>
{% endblock %}
