{% extends 'base.html.twig' %}

{% block title %}New Evaluation{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle évaluation</h1>

    {{ include('evaluation/_form.html.twig') }}

    <a href="{{ path('evaluation_index') }}">retour à la liste</a>
{% endblock %}
