<form method="post" action="{{ path('representant_delete', {'id': representant.id}) }}" onsubmit="return confirm('Etes-vous certain.e de vouloir supprimer la fiche de ce parent d'élève?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ representant.id) }}">
    <button class="btn">Supprimer</button>
</form>
