{% extends 'base.html.twig' %}

{% block title %}Nouveau Parent{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau parent d'élèvet</h1>

    {{ include('representant/_form.html.twig') }}

    <a href="{{ path('representant_index') }}">Retour à la liste</a>
{% endblock %}
